@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);


body {
    font-family: "Arial";
    font-color: #2e2e2e;
}

h1 {
    text-align: center;
}


/* --------------------------------------------------------------------------*/
/* Proposer Button */
/* --------------------------------------------------------------------------*/
.myButton {
	background-color:#a73f2d;
	border-radius:5px;
	border:1px solid #241d13;
	display:inline-block !important;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	font-weight:bold;
	font-style:italic;
	padding:5px 16px;
	text-decoration:none;
	text-shadow:0px 1px 14px #7a2a1d;
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* --------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------*/
/* Image placement */
/* --------------------------------------------------------------------------*/
img
{
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    mask-type: alpha;
    -webkit-filter: drop-shadow(1px 1px 0 grey)
                    drop-shadow(-1px -1px 0 grey);
    filter: drop-shadow(1px 1px 0 grey) 
          drop-shadow(-1px -1px 0 grey);
            
}
/* --------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------*/
/* black line separator */
/* --------------------------------------------------------------------------*/
.buttons-images-container {
	border-top: 1px solid black;
	margin: 10px 0;
	padding: 10px 0;
}

.blackSideLine {
	border-left: 1px solid black;
	margin: 10px 0;
	padding: 10px 0;
}
/* --------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------*/
/* image mask (creating the choice effect) */
/* --------------------------------------------------------------------------*/
.alpha-mask {
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.beta-mask {
  filter: invert();
  top: 0px;
  position:absolute;
  left: 0px;
  padding: 5px;
}

.gamma-mask {
  filter: invert();
  top: 0px;
  position:absolute;
  left: 0px;
  padding: 5px;
}

.img-mask {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
   -webkit-filter: contrast(200%); /* Safari */
  filter: contrast(200%);	
}
/* --------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------*/
/* guess box txt */
/* --------------------------------------------------------------------------*/
.Title {
  margin: 0 0 var(--gutterXx) 0;
  padding: 0;
  color: #fff;
  font-size: var(--fontSizeXx);
  font-weight: 400;
  line-height: var(--lineHeightSm);
  text-align: center;
  text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.Container{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 25vw;
	height: 15vh;
	color: #455A64;
	background-color: #7E57C2;
	font-family: var(--fontFamily);
	font-size: var(--fontSizeMd);
	line-height: var(--lineHeightMd);
	flex: 0 0 80%;
	max-width: 80%;
}

.Input-text {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.Input-label {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 1rem;
  color: #fff;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  transform: 
    translate3d(0, var(--labelDefaultPosY), 0)
    scale(1);
  transform-origin: 0 0;
  transition:
    opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}
/* --------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/
.bouton16 {
	border:none;
	padding:6px 0 6px 0;
	border-radius:75%;
	border-bottom:7px solid #4753f3;
	font:bold 13px Arial;
	color:#555;
	background:#fff;
	box-shadow:2px 2px 3px #999;
	border-top:2px solid #59cd27;
}

/* --------------------------------------------------------------------------*/
/* Log in*/
/* --------------------------------------------------------------------------*/

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}
loginInput-fields
.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color .2s ease;
}


.loginGhost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.loginGhost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.loginInput-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.loginFull-width {
  width: 100%;
}

.loginInput-fields {
  margin-top: 25px;
}

.loginContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #eee;
  height: 100%;
}

.loginContent {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.loginWelcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.loginSubtitle {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.loginWindow {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 460px;
  background: #fff;
  background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}

.loginOverlay {
  background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 460px;
  z-index: 1;
}


@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}

#proposerPopUp{
	color: red;
	text-transform: uppercase;
}

#wrapper   { display: table; }
#firstDiv  { display: table-footer-group; }
#secondDiv { display: table-header-group; }